# Ignore node_modules folder
#node_modules/

# Ignore environment variables
#.env

# Ignore log files
*.log

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore npm debug logs
npm-debug.log*

# Ignore build folders
#dist/
#build/

# Ignore package-lock.json
#package-lock.json